html,body{
    margin: 0;
    padding: 0;
    background-color: #fceee5;
    color: #432000;
    user-select: none;
    font-family: 'Rubik', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 10% auto;
    padding: 15px;
    border: 5px solid #FFA500;
    border-radius: 10px;
   
}

img{
    width: 150px;
    margin: 10px auto;
}
input{
    color: #432000;
    background-color: #DCE1EB;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

button{
    color: #FDFDFD;
    background-color: #FFA500;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

button:hover{
    background-color: #432000;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
background-color: #FFFDF8;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
padding: 15px;
border-radius: 8px;
flex-grow: 1;
text-align: center;
font-size: 20px;
}

ul li:hover{
    background-color: #FFECC7;
    cursor: pointer;
}
